<div class="backgroundgrace">
  <p><%= link_to '<Back', root_path, class: "btn backbtn" %></p>
  <div class="row m-0 justify-content-center">
    <div class="cardlistings">
      <h2 class="rentaltitle">Games Borrowing</h2>
        <ul class="rentalist">
            <% @bookings.each do |booking| %>
          <div class="card-product">
            <%= image_tag "logo.png"%>
            <div class="card-product-infos">
              <%= booking.game.name %>
              <% if booking.confirmed %>
                <span class="badge bg-success">confirmed</span>
              <% else %>
              <span class="badge bg-warning">pending</span>
              <% end %>
              <p> Price £<%= booking.total_price %></p>
              <p>Rental dates: <%= booking.start_date %> - <%= booking.end_date %></p>
              <li> <%= link_to "Edit", edit_booking_path(booking), class: "btn backbtn"%> </li>
          </div>
          </div>
            <% end %>
        </ul>
    </div>
  </div>
</div>
