<h1>New retro-rent booking</h1>
<%= simple_form_for [@game, @booking], data: {controller: "datepicker"} do |f| %>
  <%= f.input :start_date, placeholder: "rent start date", as: :string, input_html: { data: {datepicker_target: "start"}} %>
  <%= f.input :end_date, placeholder: "rent end date", as: :string, input_html: { data: {datepicker_target: "end"}} %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
<p><%= link_to 'Back', game_bookings_path %></p>
