<div class="filter-buttons">
  <div class="filter-button-console">
    <%= link_to root_path, class: "btn d-flex flex-column align-items-center" do %>
      Console
      <%= image_tag("https://via.placeholder.com/300x200", alt: 'Console', class: "img-fluid") %>
    <% end %>
  </div>

  <div class="filter-button-genre">
    <%= link_to root_path, class: "btn d-flex flex-column align-items-center" do %>
      Genre
      <%= image_tag("https://via.placeholder.com/300x200", alt: 'Genre', class: "img-fluid") %>
    <% end %>
  </div>

  <div class="filter-button-era">
    <%= link_to root_path, class: "btn d-flex flex-column align-items-center" do %>
      Era
      <%= image_tag("https://via.placeholder.com/300x200", alt: 'Era', class: "img-fluid") %>
    <% end %>
  </div>

  <div class="filter-button-deals">
    <%= link_to root_path, class: "btn d-flex flex-column align-items-center" do %>
      Deals
      <%= image_tag("https://via.placeholder.com/300x200", alt: 'Deals', class: "img-fluid") %>
    <% end %>
  </div>

</div>
