<h2 class = "p-3">Newly Added</h2>
   <div class= "game-cards p-3">
     <% @pages.each do |page| %>
      <div class= "card">
      <img src="https://via.placeholder.com/250x200"  class="card-image" alt="Card Image" />
        <div class= "card-content m-3">
          <p><%=page.genre %></p>
          <p> <%=page.name %>, <%=page.console%></p>
          <p> £<%=page.price_per_day %>/day</p>
          <%# <%= link_to boookings_path, class ="booking-btn" %>
        </div>
      </div>
      <% end %>
    </div>
