<div class=container>
  <h2 class = "p-3">Newly Added</h2>
    <div class= "game-cards p-3">
      <% @games.each do |game| %>
        <div class= "card">
           <img src="https://via.placeholder.com/350x250"  class="card-image" alt="Card Image" />
              <div class= "card-content m-3">
                <p><%=game.genre %></p>
                <p> <%=game.name %>, <%=game.console%></p>
                 <p> £<%=game.price_per_day %>/day</p>
                 <%# <%= class ="booking-btn" %>
              </div>
             </div>
          <% end %>
    </div>
</div>
