<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center">
    <h1>Your Retro Dreamland</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>

<div class="container cards-all">
    <% if @games.empty? %>
      <h3>Sorry, no games found <span class="font-size">&#128128;</span></h3>
    <% else %>
      <h2 class="title-nw">Newly Added</h2>
      <div class="game-cards p-3">
      <% @games.each do |game| %>
        <%= link_to game_path(game), class: 'card-link' do %>
          <div class="card">
            <%= image_tag "#{game.image_url}" %>
            <div class="card-content m-3">
              <p><%= game.name %></p>
              <p><%= game.console %></p>
              <p>£<%= game.price_per_day %>/day</p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
  </div>
</div>
