<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center">
    <h1>Your Retro Dreamland</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>

<div class="container cards-all">
<div class="row">
    <div class="col-12">
  <h2 class="title-nw">Newly Added</h2>
  <div class="game-cards">
    <% @games.each do |game| %>
      <%= link_to game_path(game), class: 'card-link' do %>
        <div class="card">
          <%= image_tag "#{game.image_url}" %>
          <div class="card-content">
            <h6><%= game.console %></h6>
            <h5><%= game.name %></h5>
            <h4>£<%= game.price_per_day %> /day </h4>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
  </div>
</div>


<div class="container cards-all">
<div class="row">
    <div class="col-12">
  <h2 class="title-nw">Hot Right Now</h2>
  <div class="game-cards">
    <% @games.each do |game| %>
      <%= link_to game_path(game), class: 'card-link' do %>
        <div class="card">
          <%= image_tag "#{game.image_url}" %>
          <div class="card-content">
            <h6><%= game.console %></h6>
            <h5><%= game.name %></h5>
            <h4>£<%= game.price_per_day %> /day </h4>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
  </div>
</div>
