<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center">
    <h1>Your Retro Dreamland</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>


<div class= "container cards-all">
 <h2 class = "title-nw">Newly Added</h2>
    <div class= "game-cards p-3">
      <% @games.each do |game| %>
        <div class= "card">
           <img src="https://via.placeholder.com/350x250"  class="card-image" alt="Card Image" />
              <div class= "card-content m-3">
                <p><%=game.genre %></p>
                <p> <%=game.name %>, <%=game.console%></p>
                 <p> £<%=game.price_per_day %>/day</p>
                  <%= link_to 'Rent', game_path(game), class: 'rent-btn' %>
                </div>
             </div>
          <% end %>
    </div>
</div>
