 <div class="backgroundgrace">
  <div class="allignment">
    <p><%= link_to '<Back', root_path, class: "btn backbtn" %></p>
    <p><%= link_to 'Add game', new_game_path, class: "btn backbtn" %></p>
  </div>
  <div class="row m-0 justify-content-center">
    <div class="cardlistings">
      <h2 class ="rentaltitle">Games Lent Out</h2>

            <ul class="rentalist">
              <% @games.each do |game| %>
                <div class="card-product">
                  <%= image_tag "#{game.image_url}" %>
                  <div class="card-product-infos">
                    <h2><%= game.name %></h2>
                    <p><%= game.genre %></p>
                    <p><%= game.console %></p>
                    <p>£<%= game.price_per_day %> /day</p>
                  </div>
                </div>
              <% end %>
            </ul>


    </div>
  </div>
</div>
