<h2>My Games</h2>

<div>
  <% @games.each do |game| %>
    <div class="card-product">
      <%= image_tag "#{game.image_url}" %>
      <div class="card-product-infos">
        <h2><%= game.name %></h2>
        <p><%= game.genre %></p>
        <p><%= game.console %></p>
        <p>£<%= game.price_per_day %> /day</p>
      </div>
    </div>
  <% end %>
</div>

<p><%= link_to 'Add game', new_game_path, class: 'btn btn-ghost' %></p>
