<h1>Add a new game</h1>

<div>
  <%= simple_form_for(@game) do |f| %>
    <%= f.input :name %>
    <%= f.input :console, collection: Game::CONSOLES %>
    <%= f.input :genre, collection: Game::GENRES %>
    <%= f.input :year %>
    <%= f.submit %>
  <% end %>
</div>
