  <div class="row m-0">
    <div class="col-8">
      <div class="card-game-show">

        <div class="row bg-white">
            <div class="col-6">
              <%# TODO code link below information %>
                <h3 class="gametitles"><b> Mario Cart</b></h3>
                <%# TODO CENTRE THIS %>
                <%= image_tag "mobile_MarioKartTour_screen_01-1260x1260.png", alt: @game.name, class: "imagemario"%>
            </div>

            <div class="col-6">
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                                <div class="containergrace">
                                    <h4 ><b>About</b></h4>
                                    <p></p>
                                    <%# TODO code link below information %>
                                    <div class="gameinfo">
                                      <h6>GameBoy</h6>
                                      <h6>2003</h6>
                                      <p></p>
                                    </div>
                                    <div class="gamedescription">
                                      <%# TODO code link text %>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum laoreet lacus ut augue dignissim, a tincidunt enim fringilla. Vivamus tincidunt tincidunt elit vel congue. Nam rutrum risus velit, sed sodales dui finibus sed. Praesent posuere dui vitae fermentum venenatis. Mauris id porta nisl.</p>
                                    </div>
                                    <%# TODO code link below information %>
                                    <h6 class="pricetext"><b>£2.00/day</b></h6>
                                    <button type="button" class="btngrace">^Hover to Rent^</button>
                                </div>
                  </div>
                  <div class="flip-card-back">
                                <div class="containergrace">
                                    <h4><b>Rent</b></h4>
                                    <p></p>
                                    <div class="rentform">
                                      <%= render 'bookings/form', game: @game, booking: @booking %>
                                    </div>
                                </div>
                  </div>
                </div>
              </div>

            </div>
        </div>
      </div>
    </div>
  </div>

<div class="reviewsection">
    <p class="gametitles"><strong>Review</strong></p>
    <ul class="list-group">
      <% @game.reviews.each do |review| %>
      <li class="list-group-item"><%= review.content %></li>
      <% end %>
    </ul>
  <div class="buttonalign">
      <%# <p>New Review</p> %>
      <%= simple_form_for [@game, @review] do |f| %>
      <%= f.input :content %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    <div class="btn">
      <%= link_to "Delete",
      game_path(@game),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    </div>
  </div>
</div>
