<div class="backgroundgrace">

    <p><%= link_to '<Back', root_path, class: "btn backbtn" %></p>
  <div class="row m-0 justify-content-center">
      <div class="card-game-show">
        <h5 class="gametitles"> <%= @game.name %> </h5>

        <div class="row bg-white">
            <div class="col-6">
                <%= image_tag @game.image_url, alt: @game.name, class: "imagemario"%>
            </div>

            <div class="col-6">
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                                <div class="containergrace">
                                    <h5 >About</h5>
                                    <p></p>
                                    <div class="gameinfo">
                                      <h6><%= @game.console %></h6>
                                      <h6><%= @game.year%></h6>
                                      <p></p>
                                    </div>
                                    <div class="gamedescription">
                                      <p><%= @game.description%></p>
                                    </div>
                                    <h6 class="pricetext"><b>£<%= @game.price_per_day %>/day</b></h6>
                                    <button type="button" class="btngrace">^Hover to Rent^</button>
                                </div>
                  </div>
                  <div class="flip-card-back">
                                <div class="containergrace">
                                    <h5>Rent</h5>
                                    <p></p>
                                    <div class="rentform">
                                      <%= render 'bookings/form', game: @game, booking: @booking %>
                                    </div>
                                </div>
                  </div>
                </div>
              </div>

            </div>
        </div>
      </div>
    <div class="reviewsection">
        <h5 class="containergrace"><strong>Review</strong></h5>
        <ul class="list-group">
          <% @game.reviews.each do |review| %>
          <li class="list-group-item"><%= review.content %></li>
          <% end %>
        </ul>
          <%= simple_form_for [@game, @review] do |f| %>
          <%= f.input :content, placeholder: "Leave your review here...", label: false%>
          <%= f.submit "Submit", class: "btn btn-primary"%>
          <% end %>
    </div>
  </div>
</div>
