  <div class="row m-0">
    <div class="col-8">
      <div class="card-game-show w-100">

        <div class="row bg-white">
            <div class="col-6">
              <%# TODO code link below information %>
                <h2 class="titlees"><b> Mario Cart</b></h2>
                <%# TODO CENTRE THIS %>
                <%= image_tag "mobile_MarioKartTour_screen_01-1260x1260.png", alt: @game.name, class: "imagemario"%>
            </div>

            <div class="col-6">
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                                <div class="containergrace">
                                    <h4 ><b>About</b></h4>
                                    <p></p>
                                    <%# TODO code link below information %>
                                    <div class="gameinfo">
                                      <h6><b>GameBoy</b></h6>
                                      <h6><b>Action</b></h6>
                                      <h6><b>2003</b></h6>
                                    </div>
                                    <div class="gamedescription">
                                      <p></p>
                                      <%# TODO code link text %>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum laoreet lacus ut augue dignissim, a tincidunt enim fringilla. Vivamus tincidunt tincidunt elit vel congue. Nam rutrum risus velit, sed sodales dui finibus sed. Praesent posuere dui vitae fermentum venenatis. Mauris id porta nisl.</p>
                                      Morbi tincidunt, libero quis convallis porttitor, quam magna bibendum ex, sed aliquet metus nibh non ante. Praesent ullamcorper urna ac vestibulum convallis.</p>
                                    </div>
                                    <%# TODO code link below information %>
                                    <h6 class="pricetext"><b>£2.00/day</b></h6>
                                    <button type="button" class="btngrace">Rent Game</button>
                                </div>
                  </div>
                  <div class="flip-card-back">
                                <div class="containergrace">
                                    <h4 ><b>Rent</b></h4>
                                    <p></p>
                                    <div class="rentform">
                                      <%= render 'bookings/form', game: @game, booking: @booking %>
                                    </div>
                                </div>
                  </div>
                </div>
              </div>

            </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <p><strong>Reviews</strong></p>
    <ul class="list-group">
      <% @game.reviews.each do |review| %>
      <li class="list-group-item"><%= review.content %></li>
      <% end %>
    </ul>
  </div>
  <div>
    <h2>New review</h2>
    <%= simple_form_for [@game, @review] do |f| %>
    <%= f.input :content %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div>
    <%= link_to "Delete",
    game_path(@game),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
  </div>
</body>
</html>
